@using System.Globalization

<div class="row">
    <label>西暦を入力</label>
    <span>
        <input bind-value-oninput="@SourceDateString" />
    </span>
</div>

<div class="row">
    <label>和暦に変換した結果</label>
    <span>
        @GetJapaneseEraFormatedString()
    </span>
</div>

@functions{

    string SourceDateString = DateTime.Today.ToString("yyyy/MM/dd");

    CultureInfo JapaneseCultureInfo;

    protected override void OnInit()
    {
        this.JapaneseCultureInfo = new CultureInfo("ja-JP", false);
        this.JapaneseCultureInfo.DateTimeFormat.Calendar = new JapaneseCalendar();
    }

    string GetJapaneseEraFormatedString()
    {
        try
        {
            if (DateTime.TryParseExact(SourceDateString, "yyyy/M/d", null, DateTimeStyles.None, out var date))
            {
                return date.ToString("gy'年'M月d日", this.JapaneseCultureInfo);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
        return "----";
    }
}